In [6]:
import pandas as pd
import numpy as np

test_data = pd.read_csv('C:\\Users\\abc\\Anaconda3\\test.csv')
train_data = pd.read_csv('C:\\Users\\abc\\Anaconda3\\train.csv')
print(pd.DataFrame(test_data))
print(pd.DataFrame(train_data))

       age      workclass  fnlwgt      education  education.num  \
0       25        Private  226802           11th              7
1       38        Private   89814        HS-grad              9
2       28      Local-gov  336951     Assoc-acdm             12
3       44        Private  160323   Some-college             10
4       18            NaN  103497   Some-college             10
...    ...            ...     ...            ...            ...
16276   39        Private  215419      Bachelors             13
16277   64            NaN  321403        HS-grad              9
16278   38        Private  374983      Bachelors             13
16279   44        Private   83891      Bachelors             13
16280   35   Self-emp-inc  182148      Bachelors             13

            marital.status          occupation     relationship  \
0            Never-married   Machine-op-inspct        Own-child
1       Married-civ-spouse     Farming-fishing          Husband
2       Married-civ-spouse     Protective-serv          Husband
3       Married-civ-spouse   Machine-op-inspct          Husband
4            Never-married                 NaN        Own-child
...                    ...                 ...              ...
16276             Divorced      Prof-specialty    Not-in-family
16277              Widowed                 NaN   Other-relative
16278   Married-civ-spouse      Prof-specialty          Husband
16279             Divorced        Adm-clerical        Own-child
16280   Married-civ-spouse     Exec-managerial          Husband

                      race      sex  capital.gain  capital.loss  \
0                    Black     Male             0             0
1                    White     Male             0             0
2                    White     Male             0             0
3                    Black     Male          7688             0
4                    White   Female             0             0
...                    ...      ...           ...           ...
16276                White   Female             0             0
16277                Black     Male             0             0
16278                White     Male             0             0
16279   Asian-Pac-Islander     Male          5455             0
16280                White     Male             0             0

       hours.per.week  native.country   target
0                  40   United-States   <=50K.
1                  50   United-States   <=50K.
2                  40   United-States    >50K.
3                  40   United-States    >50K.
4                  30   United-States   <=50K.
...               ...             ...      ...
16276              36   United-States   <=50K.
16277              40   United-States   <=50K.
16278              50   United-States   <=50K.
16279              40   United-States   <=50K.
16280              60   United-States    >50K.

[16281 rows x 15 columns]
       age          workclass  fnlwgt    education  education.num  \
0       39          State-gov   77516    Bachelors             13
1       50   Self-emp-not-inc   83311    Bachelors             13
2       38            Private  215646      HS-grad              9
3       53            Private  234721         11th              7
4       28            Private  338409    Bachelors             13
...    ...                ...     ...          ...            ...
32556   27            Private  257302   Assoc-acdm             12
32557   40            Private  154374      HS-grad              9
32558   58            Private  151910      HS-grad              9
32559   22            Private  201490      HS-grad              9
32560   52       Self-emp-inc  287927      HS-grad              9

            marital.status          occupation    relationship    race  \
0            Never-married        Adm-clerical   Not-in-family   White
1       Married-civ-spouse     Exec-managerial         Husband   White
2                 Divorced   Handlers-cleaners   Not-in-family   White
3       Married-civ-spouse   Handlers-cleaners         Husband   Black
4       Married-civ-spouse      Prof-specialty            Wife   Black
...                    ...                 ...             ...     ...
32556   Married-civ-spouse        Tech-support            Wife   White
32557   Married-civ-spouse   Machine-op-inspct         Husband   White
32558              Widowed        Adm-clerical       Unmarried   White
32559        Never-married        Adm-clerical       Own-child   White
32560   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital.gain  capital.loss  hours.per.week  native.country  \
0         Male          2174             0              40   United-States
1         Male             0             0              13   United-States
2         Male             0             0              40   United-States
3         Male             0             0              40   United-States
4       Female             0             0              40            Cuba
...        ...           ...           ...             ...             ...
32556   Female             0             0              38   United-States
32557     Male             0             0              40   United-States
32558   Female             0             0              40   United-States
32559     Male             0             0              20   United-States
32560   Female         15024             0              40   United-States

       target
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32556   <=50K
32557    >50K
32558   <=50K
32559   <=50K
32560    >50K

[32561 rows x 15 columns]

In [7]:
print(test_data.shape)
print(train_data.shape)
print(pd.DataFrame(test_data).head())
print(pd.DataFrame(train_data).head())

(16281, 15)
(32561, 15)
   age   workclass  fnlwgt      education  education.num       marital.status  \
0   25     Private  226802           11th              7        Never-married
1   38     Private   89814        HS-grad              9   Married-civ-spouse
2   28   Local-gov  336951     Assoc-acdm             12   Married-civ-spouse
3   44     Private  160323   Some-college             10   Married-civ-spouse
4   18         NaN  103497   Some-college             10        Never-married

           occupation relationship    race      sex  capital.gain  \
0   Machine-op-inspct    Own-child   Black     Male             0
1     Farming-fishing      Husband   White     Male             0
2     Protective-serv      Husband   White     Male             0
3   Machine-op-inspct      Husband   Black     Male          7688
4                 NaN    Own-child   White   Female             0

   capital.loss  hours.per.week  native.country   target
0             0              40   United-States   <=50K.
1             0              50   United-States   <=50K.
2             0              40   United-States    >50K.
3             0              40   United-States    >50K.
4             0              30   United-States   <=50K.
   age          workclass  fnlwgt   education  education.num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital.status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital.gain  capital.loss  hours.per.week  native.country  target
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
2             0             0              40   United-States   <=50K
3             0             0              40   United-States   <=50K
4             0             0              40            Cuba   <=50K

In [8]:
test_data.info()
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16281 entries, 0 to 16280
Data columns (total 15 columns):
age               16281 non-null int64
workclass         15318 non-null object
fnlwgt            16281 non-null int64
education         16281 non-null object
education.num     16281 non-null int64
marital.status    16281 non-null object
occupation        15315 non-null object
relationship      16281 non-null object
race              16281 non-null object
sex               16281 non-null object
capital.gain      16281 non-null int64
capital.loss      16281 non-null int64
hours.per.week    16281 non-null int64
native.country    16007 non-null object
target            16281 non-null object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    31978 non-null object
target            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
test_data = test_data.rename(columns={'native.country':'nativeCountry'})
test_data = test_data.rename(columns={'education.num':'educationNum'})
test_data = test_data.rename(columns={'marital.status':'maritalStatus'})
test_data = test_data.rename(columns={'capital.gain':'capitalGain'})
test_data = test_data.rename(columns={'capital.loss':'capitalLoss'})
test_data = test_data.rename(columns={'hours.per.week':'hoursPerWeek'})

test_data.age.replace(0,np.nan,inplace = True)
test_data.workclass.replace(0,np.nan,inplace = True)
test_data.fnlwgt.replace(0,np.nan,inplace = True)
test_data.education.replace(0,np.nan,inplace = True)
test_data.educationNum.replace(0,np.nan,inplace = True)
test_data.maritalStatus.replace(0,np.nan,inplace = True)
test_data.occupation.replace(0,np.nan,inplace = True)
test_data.relationship.replace(0,np.nan,inplace = True)
test_data.race.replace(0,np.nan,inplace = True)
test_data.sex.replace(0,np.nan,inplace = True)
test_data.capitalGain.replace(0,np.nan,inplace = True)
test_data.capitalLoss.replace(0,np.nan,inplace = True)
test_data.hoursPerWeek.replace(0,np.nan,inplace = True)
test_data.nativeCountry.replace(0,np.nan,inplace = True)
test_data.target.replace(0,np.nan,inplace = True)

print(pd.DataFrame(test_data).head(10))

   age          workclass  fnlwgt      education  educationNum  \
0   25            Private  226802           11th             7
1   38            Private   89814        HS-grad             9
2   28          Local-gov  336951     Assoc-acdm            12
3   44            Private  160323   Some-college            10
4   18                NaN  103497   Some-college            10
5   34            Private  198693           10th             6
6   29                NaN  227026        HS-grad             9
7   63   Self-emp-not-inc  104626    Prof-school            15
8   24            Private  369667   Some-college            10
9   55            Private  104996        7th-8th             4

         maritalStatus          occupation    relationship    race      sex  \
0        Never-married   Machine-op-inspct       Own-child   Black     Male
1   Married-civ-spouse     Farming-fishing         Husband   White     Male
2   Married-civ-spouse     Protective-serv         Husband   White     Male
3   Married-civ-spouse   Machine-op-inspct         Husband   Black     Male
4        Never-married                 NaN       Own-child   White   Female
5        Never-married       Other-service   Not-in-family   White     Male
6        Never-married                 NaN       Unmarried   Black     Male
7   Married-civ-spouse      Prof-specialty         Husband   White     Male
8        Never-married       Other-service       Unmarried   White   Female
9   Married-civ-spouse        Craft-repair         Husband   White     Male

   capitalGain  capitalLoss  hoursPerWeek   nativeCountry   target
0          NaN          NaN            40   United-States   <=50K.
1          NaN          NaN            50   United-States   <=50K.
2          NaN          NaN            40   United-States    >50K.
3       7688.0          NaN            40   United-States    >50K.
4          NaN          NaN            30   United-States   <=50K.
5          NaN          NaN            30   United-States   <=50K.
6          NaN          NaN            40   United-States   <=50K.
7       3103.0          NaN            32   United-States    >50K.
8          NaN          NaN            40   United-States   <=50K.
9          NaN          NaN            10   United-States   <=50K.

In [10]:
train_data = train_data.rename(columns={'native.country':'nativeCountry'})
train_data = train_data.rename(columns={'education.num':'educationNum'})
train_data = train_data.rename(columns={'marital.status':'maritalStatus'})
train_data = train_data.rename(columns={'capital.gain':'capitalGain'})
train_data = train_data.rename(columns={'capital.loss':'capitalLoss'})
train_data = train_data.rename(columns={'hours.per.week':'hoursPerWeek'})

train_data.age.replace(0,np.nan,inplace = True)
train_data.workclass.replace(0,np.nan,inplace = True)
train_data.fnlwgt.replace(0,np.nan,inplace = True)
train_data.education.replace(0,np.nan,inplace = True)
train_data.educationNum.replace(0,np.nan,inplace = True)
train_data.maritalStatus.replace(0,np.nan,inplace = True)
train_data.occupation.replace(0,np.nan,inplace = True)
train_data.relationship.replace(0,np.nan,inplace = True)
train_data.race.replace(0,np.nan,inplace = True)
train_data.sex.replace(0,np.nan,inplace = True)
train_data.capitalGain.replace(0,np.nan,inplace = True)
train_data.capitalLoss.replace(0,np.nan,inplace = True)
train_data.hoursPerWeek.replace(0,np.nan,inplace = True)
train_data.nativeCountry.replace(0,np.nan,inplace = True)
train_data.target.replace(0,np.nan,inplace = True)

print(pd.DataFrame(train_data).head(10))

   age          workclass  fnlwgt   education  educationNum  \
0   39          State-gov   77516   Bachelors            13
1   50   Self-emp-not-inc   83311   Bachelors            13
2   38            Private  215646     HS-grad             9
3   53            Private  234721        11th             7
4   28            Private  338409   Bachelors            13
5   37            Private  284582     Masters            14
6   49            Private  160187         9th             5
7   52   Self-emp-not-inc  209642     HS-grad             9
8   31            Private   45781     Masters            14
9   42            Private  159449   Bachelors            13

            maritalStatus          occupation    relationship    race  \
0           Never-married        Adm-clerical   Not-in-family   White
1      Married-civ-spouse     Exec-managerial         Husband   White
2                Divorced   Handlers-cleaners   Not-in-family   White
3      Married-civ-spouse   Handlers-cleaners         Husband   Black
4      Married-civ-spouse      Prof-specialty            Wife   Black
5      Married-civ-spouse     Exec-managerial            Wife   White
6   Married-spouse-absent       Other-service   Not-in-family   Black
7      Married-civ-spouse     Exec-managerial         Husband   White
8           Never-married      Prof-specialty   Not-in-family   White
9      Married-civ-spouse     Exec-managerial         Husband   White

       sex  capitalGain  capitalLoss  hoursPerWeek   nativeCountry  target
0     Male       2174.0          NaN            40   United-States   <=50K
1     Male          NaN          NaN            13   United-States   <=50K
2     Male          NaN          NaN            40   United-States   <=50K
3     Male          NaN          NaN            40   United-States   <=50K
4   Female          NaN          NaN            40            Cuba   <=50K
5   Female          NaN          NaN            40   United-States   <=50K
6   Female          NaN          NaN            16         Jamaica   <=50K
7     Male          NaN          NaN            45   United-States    >50K
8   Female      14084.0          NaN            50   United-States    >50K
9     Male       5178.0          NaN            40   United-States    >50K