In [171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [172]:
data = pd.read_csv('adult.data.csv',names=columns,sep=',\s',na_values=["?"])
data1 = pd.read_csv('adult.test.csv',names=columns,sep=',\s',na_values=["?"])

In [173]:
data['capital-gain'] = data['capital-gain'].replace(0,np.nan)
data1['capital-gain'] = data1['capital-gain'].replace(0,np.nan)

In [174]:
data['capital-loss'] = data['capital-loss'].replace(0,np.nan)
data1['capital-loss'] = data1['capital-loss'].replace(0,np.nan)

In [175]:
#data['native-country'] = data['native-country'].replace('?',np.nan)

In [176]:
data.head(30)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,NaN,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,NaN,NaN,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,NaN,NaN,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,NaN,NaN,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,NaN,NaN,40,Cuba,<=50K
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,NaN,NaN,40,United-States,<=50K
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,NaN,NaN,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,NaN,NaN,45,United-States,>50K
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,NaN,50,United-States,>50K
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,NaN,40,United-States,>50K
10,37,Private,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,NaN,NaN,80,United-States,>50K
11,30,State-gov,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,NaN,NaN,40,India,>50K
12,23,Private,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,NaN,NaN,30,United-States,<=50K
13,32,Private,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,NaN,NaN,50,United-States,<=50K
14,40,Private,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,NaN,NaN,40,?,>50K
15,34,Private,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,NaN,NaN,45,Mexico,<=50K
16,25,Self-emp-not-inc,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,NaN,NaN,35,United-States,<=50K
17,32,Private,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,NaN,NaN,40,United-States,<=50K
18,38,Private,11th,7,Married-civ-spouse,Sales,Husband,White,Male,NaN,NaN,50,United-States,<=50K
19,43,Self-emp-not-inc,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,NaN,NaN,45,United-States,>50K
20,40,Private,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,60,United-States,>50K
21,54,Private,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,NaN,NaN,20,United-States,<=50K
22,35,Federal-gov,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,NaN,NaN,40,United-States,<=50K
23,43,Private,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,NaN,2042.0,40,United-States,<=50K
24,59,Private,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,NaN,NaN,40,United-States,<=50K
25,56,Local-gov,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,NaN,NaN,40,United-States,>50K
26,19,Private,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,NaN,NaN,40,United-States,<=50K
27,54,?,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,NaN,NaN,60,South,>50K
28,39,Private,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,NaN,NaN,80,United-States,<=50K
29,49,Private,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,NaN,NaN,40,United-States,<=50K

In [177]:
mean_value_gain=data['capital-gain'].mean()
data['capital-gain']=data['capital-gain'].fillna(mean_value_gain)

mean_value_loss=data['capital-loss'].mean()
data['capital-loss']=data['capital-loss'].fillna(mean_value_loss)

mean_value_gain=data1['capital-gain'].mean()
data1['capital-gain']=data1['capital-gain'].fillna(mean_value_gain)

mean_value_loss=data1['capital-loss'].mean()
data1['capital-loss']=data1['capital-loss'].fillna(mean_value_loss)

In [178]:
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.000000,1871.428571,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,12938.541298,1871.428571,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,12938.541298,1871.428571,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,12938.541298,1871.428571,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,12938.541298,1871.428571,40,Cuba,<=50K

In [179]:
data = data.drop(['marital-status','relationship', 'race','native-country'], axis=1)
data1 = data1.drop(['marital-status','relationship', 'race','native-country'], axis=1)

KeyError: "['marital-status'] not found in axis"

In [181]:
labelEncoder = LabelEncoder()
labelEncoder.fit(data['sex'])
labelEncoder.fit(data1['sex'])
data['sex'] = labelEncoder.transform(data['sex'])
data1['sex'] = labelEncoder.transform(data1['sex'])

In [182]:
data

,age,workclass,education_level,education-num,occupation,sex,capital-gain,capital-loss,hours-per-week,income
0,39,State-gov,Bachelors,13,Adm-clerical,1,2174.000000,1871.428571,40,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Exec-managerial,1,12938.541298,1871.428571,13,<=50K
2,38,Private,HS-grad,9,Handlers-cleaners,1,12938.541298,1871.428571,40,<=50K
3,53,Private,11th,7,Handlers-cleaners,1,12938.541298,1871.428571,40,<=50K
4,28,Private,Bachelors,13,Prof-specialty,0,12938.541298,1871.428571,40,<=50K
...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,12,Tech-support,0,12938.541298,1871.428571,38,<=50K
32557,40,Private,HS-grad,9,Machine-op-inspct,1,12938.541298,1871.428571,40,>50K
32558,58,Private,HS-grad,9,Adm-clerical,0,12938.541298,1871.428571,40,<=50K
32559,22,Private,HS-grad,9,Adm-clerical,1,12938.541298,1871.428571,20,<=50K
32560,52,Self-emp-inc,HS-grad,9,Exec-managerial,0,15024.000000,1871.428571,40,>50K

In [183]:
X_train= data.drop('income',axis=1)
X_test= data['income']

In [142]:
wcss = []
for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10, random_state=0)
    kmeans.fit(X_train)
    wcss.append(kmeans.inertia_)
plt.plot(range(1, 11), wcss)
plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

ValueError: could not convert string to float: ' United-States'