In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [2]:
data = pd.read_csv('adult.csv')

FileNotFoundError: [Errno 2] File b'adult.csv' does not exist: b'adult.csv'

In [ ]:
data.head(30)

In [12]:
data[data == ' ?'] = np.nan

In [13]:
data.head(30)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,0,3683,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,0,3683,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,0,3004,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,0,2824,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,0,2824,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,0,2824,55,United-States,>50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,0,2824,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,0,2824,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,0,2824,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,0,2824,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,0,2824,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,0,2824,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,2824,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,0,2754,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2603,40,United-States,<=50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2603,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2603,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,0,2603,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,0,2603,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,0,2559,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,0,2559,90,United-States,>50K

In [16]:
data['capital.gain'] = data['capital.gain'].replace(0,np.nan)

In [17]:
data['capital.loss'] = data['capital.loss'].replace(0,np.nan)

In [18]:
#data['native-country'] = data['native-country'].replace('?',np.nan)

In [19]:
data.head(30)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,NaN,4356.0,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,NaN,4356.0,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,NaN,4356.0,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,NaN,3900.0,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,NaN,3900.0,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,NaN,3770.0,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,NaN,3770.0,40,United-States,<=50K
7,74,State-gov,88638,Doctorate,16,Never-married,Prof-specialty,Other-relative,White,Female,NaN,3683.0,20,United-States,>50K
8,68,Federal-gov,422013,HS-grad,9,Divorced,Prof-specialty,Not-in-family,White,Female,NaN,3683.0,40,United-States,<=50K
9,41,Private,70037,Some-college,10,Never-married,Craft-repair,Unmarried,White,Male,NaN,3004.0,60,?,>50K
10,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,NaN,3004.0,35,United-States,>50K
11,38,Self-emp-not-inc,164526,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,NaN,2824.0,45,United-States,>50K
12,52,Private,129177,Bachelors,13,Widowed,Other-service,Not-in-family,White,Female,NaN,2824.0,20,United-States,>50K
13,32,Private,136204,Masters,14,Separated,Exec-managerial,Not-in-family,White,Male,NaN,2824.0,55,United-States,>50K
14,51,?,172175,Doctorate,16,Never-married,?,Not-in-family,White,Male,NaN,2824.0,40,United-States,>50K
15,46,Private,45363,Prof-school,15,Divorced,Prof-specialty,Not-in-family,White,Male,NaN,2824.0,40,United-States,>50K
16,45,Private,172822,11th,7,Divorced,Transport-moving,Not-in-family,White,Male,NaN,2824.0,76,United-States,>50K
17,57,Private,317847,Masters,14,Divorced,Exec-managerial,Not-in-family,White,Male,NaN,2824.0,50,United-States,>50K
18,22,Private,119592,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,Black,Male,NaN,2824.0,40,?,>50K
19,34,Private,203034,Bachelors,13,Separated,Sales,Not-in-family,White,Male,NaN,2824.0,50,United-States,>50K
20,37,Private,188774,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,NaN,2824.0,40,United-States,>50K
21,29,Private,77009,11th,7,Separated,Sales,Not-in-family,White,Female,NaN,2754.0,42,United-States,<=50K
22,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,NaN,2754.0,25,United-States,<=50K
23,51,Private,153870,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,NaN,2603.0,40,United-States,<=50K
24,61,?,135285,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,NaN,2603.0,32,United-States,<=50K
25,21,Private,34310,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,NaN,2603.0,40,United-States,<=50K
26,33,Private,228696,1st-4th,2,Married-civ-spouse,Craft-repair,Not-in-family,White,Male,NaN,2603.0,32,Mexico,<=50K
27,49,Private,122066,5th-6th,3,Married-civ-spouse,Other-service,Husband,White,Male,NaN,2603.0,40,Greece,<=50K
28,37,Self-emp-inc,107164,10th,6,Never-married,Transport-moving,Not-in-family,White,Male,NaN,2559.0,50,United-States,>50K
29,38,Private,175360,10th,6,Never-married,Prof-specialty,Not-in-family,White,Male,NaN,2559.0,90,United-States,>50K

In [20]:
mean_value_gain=data['capital.gain'].mean()
data['capital.gain']=data['capital.gain'].fillna(mean_value_gain)

mean_value_loss=data['capital.loss'].mean()
data['capital.loss']=data['capital.loss'].fillna(mean_value_loss)

In [21]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,12938.541298,4356.0,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,12938.541298,4356.0,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,12938.541298,4356.0,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,12938.541298,3900.0,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,12938.541298,3900.0,40,United-States,<=50K

In [259]:
#data['workclass']=data['workclass'].replace('?',np.NaN, inplace=True)

In [260]:
#data.head(30)

In [23]:
#data = data.drop(['marital.status','relationship', 'race','native-country'], axis=1)

In [25]:
from sklearn import preprocessing

categorical = ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country']
for feature in categorical:
        le = preprocessing.LabelEncoder()
        data[feature] = le.fit_transform(data[feature])

In [27]:
data.head(100)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,0,77053,11,9,6,0,1,4,0,12938.541298,4356.0,40,39,<=50K
1,82,4,132870,11,9,6,4,1,4,0,12938.541298,4356.0,18,39,<=50K
2,66,0,186061,15,10,6,0,4,2,0,12938.541298,4356.0,40,39,<=50K
3,54,4,140359,5,4,0,7,4,4,0,12938.541298,3900.0,40,39,<=50K
4,41,4,264663,15,10,5,10,3,4,0,12938.541298,3900.0,40,39,<=50K
5,34,4,216864,11,9,0,8,4,4,0,12938.541298,3770.0,45,39,<=50K
6,38,4,150601,0,6,5,1,4,4,1,12938.541298,3770.0,40,39,<=50K
7,74,7,88638,10,16,4,10,2,4,0,12938.541298,3683.0,20,39,>50K
8,68,1,422013,11,9,0,10,1,4,0,12938.541298,3683.0,40,39,<=50K
9,41,4,70037,15,10,4,3,4,4,1,12938.541298,3004.0,60,0,>50K
10,45,4,172274,10,16,0,10,4,2,0,12938.541298,3004.0,35,39,>50K
11,38,6,164526,14,15,4,10,1,4,1,12938.541298,2824.0,45,39,>50K
12,52,4,129177,9,13,6,8,1,4,0,12938.541298,2824.0,20,39,>50K
13,32,4,136204,12,14,5,4,1,4,1,12938.541298,2824.0,55,39,>50K
14,51,0,172175,10,16,4,0,1,4,1,12938.541298,2824.0,40,39,>50K
15,46,4,45363,14,15,0,10,1,4,1,12938.541298,2824.0,40,39,>50K
16,45,4,172822,1,7,0,14,1,4,1,12938.541298,2824.0,76,39,>50K
17,57,4,317847,12,14,0,4,1,4,1,12938.541298,2824.0,50,39,>50K
18,22,4,119592,7,12,4,6,1,2,1,12938.541298,2824.0,40,0,>50K
19,34,4,203034,9,13,5,12,1,4,1,12938.541298,2824.0,50,39,>50K
20,37,4,188774,9,13,4,4,1,4,1,12938.541298,2824.0,40,39,>50K
21,29,4,77009,1,7,5,12,1,4,0,12938.541298,2754.0,42,39,<=50K
22,61,4,29059,11,9,0,12,4,4,0,12938.541298,2754.0,25,39,<=50K
23,51,4,153870,15,10,2,14,0,4,1,12938.541298,2603.0,40,39,<=50K
24,61,0,135285,11,9,2,0,0,4,1,12938.541298,2603.0,32,39,<=50K
25,21,4,34310,8,11,2,3,0,4,1,12938.541298,2603.0,40,39,<=50K
26,33,4,228696,3,2,2,3,1,4,1,12938.541298,2603.0,32,26,<=50K
27,49,4,122066,4,3,2,8,0,4,1,12938.541298,2603.0,40,12,<=50K
28,37,5,107164,0,6,4,14,1,4,1,12938.541298,2559.0,50,39,>50K
29,38,4,175360,0,6,4,10,1,4,1,12938.541298,2559.0,90,39,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,49,4,199029,9,13,2,12,0,4,1,12938.541298,2415.0,55,39,>50K
71,47,6,145290,11,9,2,4,0,4,1,12938.541298,2415.0,50,39,>50K
72,41,2,297248,14,15,2,10,0,4,1,12938.541298,2415.0,45,39,>50K
73,55,5,227856,9,13,2,4,0,4,1,12938.541298,2415.0,50,39,>50K
74,39,4,179731,12,14,2,4,5,4,0,12938.541298,2415.0,65,39,>50K
75,42,4,154374,9,13,2,4,0,4,1,12938.541298,2415.0,60,39,>50K
76,41,0,27187,8,11,2,0,0,4,1,12938.541298,2415.0,12,39,>50K
77,46,4,326857,12,14,2,12,0,4,1,12938.541298,2415.0,65,39,>50K
78,40,4,160369,12,14,2,4,0,4,1,12938.541298,2415.0,45,39,>50K
79,32,4,396745,9,13,2,10,0,4,1,12938.541298,2415.0,48,39,>50K
80,41,5,151089,15,10,2,4,0,4,1,12938.541298,2415.0,55,39,>50K
81,60,5,336188,14,15,2,10,0,4,1,12938.541298,2415.0,80,39,>50K
82,31,4,279015,12,14,2,4,0,4,1,12938.541298,2415.0,70,36,>50K
83,58,6,43221,15,10,2,5,0,4,1,12938.541298,2415.0,40,39,>50K
84,37,5,30529,9,13,2,12,0,4,1,12938.541298,2415.0,50,39,>50K
85,44,6,201742,9,13,2,4,0,4,1,12938.541298,2415.0,50,39,>50K
86,39,6,218490,14,15,2,10,0,4,1,12938.541298,2415.0,50,0,>50K
87,43,1,156996,14,15,2,10,0,1,1,12938.541298,2415.0,55,0,>50K
88,55,5,298449,9,13,2,4,0,4,1,12938.541298,2415.0,50,39,>50K
89,44,5,191712,12,14,2,10,0,4,1,12938.541298,2415.0,55,39,>50K
90,39,4,198654,14,15,2,10,0,1,1,12938.541298,2415.0,67,19,>50K
91,46,6,102308,9,13,2,12,0,4,1,12938.541298,2415.0,40,39,>50K
92,39,4,348521,15,10,2,5,0,4,1,12938.541298,2415.0,99,39,>50K
93,62,5,56248,9,13,2,5,0,4,1,12938.541298,2415.0,60,39,>50K
94,31,6,252752,11,9,2,8,5,4,0,12938.541298,2415.0,40,39,>50K
95,46,4,192963,9,13,2,1,0,1,1,12938.541298,2415.0,35,30,>50K
96,46,6,198759,14,15,2,10,0,4,1,12938.541298,2415.0,80,39,>50K
97,39,5,143123,8,11,2,3,0,4,1,12938.541298,2415.0,40,39,>50K
98,39,4,237713,14,15,2,12,0,4,1,12938.541298,2415.0,99,39,>50K
99,59,4,81929,10,16,2,10,0,4,1,12938.541298,2415.0,45,39,>50K

In [183]:
X_train= data.drop('income',axis=1)
X_test= data['income']